@import "@radix-ui/themes/styles.css";

@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-text: #0f0f0f;
  --color-background: #fbfbfb;
  --color-background-ui: #da5893;
  --color-logo-primary: #faa2ca;
  --color-logo-stroke: #382731;
  --color-text-stroke: #f6f6f6;
  --color-mid-gray: #808080;
}

:root {
  /* Typography */
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  /* Rendering */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Base colors */
  color: var(--color-text);
  background-color: var(--color-background);
}

:root[data-theme="light"] {
  --color-text: #0f0f0f;
  --color-background: #fbfbfb;
  --color-background-ui: #da5893;
  --color-logo-primary: #faa2ca;
  --color-logo-stroke: #382731;
  --color-text-stroke: #f6f6f6;
  --color-mid-gray: #808080;
}

:root[data-theme="dark"] {
  --color-text: #fbfbfb;
  --color-background: #1f1f1f;
  --color-background-ui: #f28cbb;
  --color-logo-primary: #f28cbb;
  --color-logo-stroke: #fad1ed;
  --color-text-stroke: #ffffff;
  --color-mid-gray: #c5c5c5;
}

.custom-select-trigger .rt-SelectIcon {
  display: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}
